.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

#downloadApp {
  width: 90%;
  height: 50px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  background-color: #2196f3;
  border: none; }

.download {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%; }

.message-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7; }
  .message-block .message {
    display: table;
    width: 87%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
    z-index: 10; }
    .message-block .message .left-text {
      display: table-cell;
      font: 14px solid;
      width: 90%;
      vertical-align: top; }
    .message-block .message .right-corner {
      display: table-cell;
      vertical-align: top; }
      .message-block .message .right-corner img {
        width: 31px;
        height: 31px; }
    .message-block .message .text-format {
      color: #2196f3; }

.hidden {
  display: none; }
