.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("../img/background.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.download {
  text-align: center;
  font-size: 30px; }
